  <div class="row">
     <div class="col-lg-6 form-group">
         <label class = 'control-label'><%= t 'activerecord.attributes.distrito.nome' %></label>
        <input readonly="true" class = 'form-control' value="<%= @distrito.nome %>" />
     </div>
    
</div>

