<p style="color: green"><%= notice %></p>

<h1>Distritos</h1>

<div id="distritos">
  <% @distritos.each do |distrito| %>
    <%= render distrito %>
    <p>
      <%= link_to "Show this distrito", distrito %>
    </p>
  <% end %>
</div>

<%= link_to "New distrito", new_distrito_path %>
