<h1>Editing estudobiblico</h1>

<%= render "form", estudobiblico: @estudobiblico %>

<br>

<div>
  <%= link_to "Show this estudobiblico", @estudobiblico %> |
  <%= link_to "Back to estudobiblicos", estudobiblicos_path %>
</div>
