


<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">
              Tipo de Estudo Bíblico
          </h2>
      </div>
  </div>


<%= render @estudobiblico %>

  <div class="row">
    <div class="col-lg-2 form-group">
      <%= link_to 'Alterar', edit_estudobiblico_path(@estudobiblico), :class => "btn btn-primary colorprimarybtn" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= link_to 'Voltar',  estudobiblicos_path, :class => "btn btn-primary colorprimarybtn"%>
    </div>
  </div>
</div>