<p style="color: green"><%= notice %></p>

<h1>Visita</h1>

<div id="visita">
  <% @visita.each do |visitum| %>
    <%= render visitum %>
    <p>
      <%= link_to "Show this visitum", visitum %>
    </p>
  <% end %>
</div>

<%= link_to "New visitum", new_visitum_path %>
