<div class="categdespesas index">
      <h2>   </h2>  
      <div class="row">
        <div class="col-lg-12">
          <div class="row text-center">

          <br><br><br><br><br><br>
          


          <div class="col-lg-12  form-group">  
                <%= image_tag "logoadv.png",class: "img-responsive center-block", align: "center",  height:"300", width:"450" %>
          </div>
          <div class="col-lg-12  form-group"> 
          <b>© <%= Date.current.year %> - Todos os direitos reservados.</b> <br>
                        <b>
                            Suporte: Carleandro Nolêto<br>
                        </b> 
          </div>
        </div>
      </div>
      </div>
 