<div class="container-fluid">
    <div class="row text-center main-footer" id="footer">
        <div class="footer-title">SYSIGREJA</div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-sm-6 col-md-5 col-lg-4 menucard"> 
            <a href="" class="menucardicones">
                <div class="card menuprincipal">
                    <i class="fa fa-user-plus fa-3x menuicone" ></i>
                    <div class="card-body ">
                        <h6 class="card-title">Nova Visita</h6>
                    </div>
                </div>
             </a>   
        </div>

        <div class="col-sm-6 col-md-5 col-lg-4 menucard"> 
            <a href="" class="menucardicones">
                <div class="card menuprincipal">
                    <i class="fa fa-book fa-3x menuicone" ></i>
                    <div class="card-body ">
                        <h6 class="card-title">Estudos Bíblicos</h6>
                    </div>
                </div>
             </a>   
        </div>

         <div class="col-sm-6 col-md-5 col-lg-4 menucard"> 
            <a href="" class="menucardicones">
                <div class="card menuprincipal">
                    <i class="fa fa-users fa-3x menuicone" ></i>
                    <div class="card-body ">
                        <h6 class="card-title">Membros</h6>
                    </div>
                </div>
             </a>   
        </div>


   
        
        
    </div>
    
 

</div>