<h1>Editing visitouigreja</h1>

<%= render "form", visitouigreja: @visitouigreja %>

<br>

<div>
  <%= link_to "Show this visitouigreja", @visitouigreja %> |
  <%= link_to "Back to visitouigrejas", visitouigrejas_path %>
</div>
