

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">
             Registro de Visita à Igreja
          </h2>
      </div>
  </div>


<%= render @visitouigreja %>

  <div class="row">
    <div class="col-lg-2 form-group">
      <%= link_to 'Alterar', edit_visitouigreja_path(@visitouigreja), :class => "btn btn-primary colorprimarybtn" %>
     </div>
    <div class="col-lg-2 form-group">      
      <%= link_to 'Voltar',  visitouigrejas_path, :class => "btn btn-primary colorprimarybtn"%>
    </div>
  </div>
</div>