<h1>Editing visitaigreja</h1>

<%= render "form", visitaigreja: @visitaigreja %>

<br>

<div>
  <%= link_to "Show this visitaigreja", @visitaigreja %> |
  <%= link_to "Back to visitaigrejas", visitaigrejas_path %>
</div>
