<h1>Editing visitabiblico</h1>

<%= render "form", visitabiblico: @visitabiblico %>

<br>

<div>
  <%= link_to "Show this visitabiblico", @visitabiblico %> |
  <%= link_to "Back to visitabiblicos", visitabiblicos_path %>
</div>
