

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">
              Estudo Bíblico
          </h2>
      </div>
  </div>


<%= render @visitabiblico %>

  <div class="row">
    <div class="col-lg-2 form-group">
      <%= link_to 'Alterar', edit_visitabiblico_path(@visitabiblico), :class => "btn btn-primary colorprimarybtn" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= link_to 'Voltar',  visitabiblicos_path, :class => "btn btn-primary colorprimarybtn"%>
    </div>
  </div>
</div>