<h1>Editing ministroubiblico</h1>

<%= render "form", ministroubiblico: @ministroubiblico %>

<br>

<div>
  <%= link_to "Show this ministroubiblico", @ministroubiblico %> |
  <%= link_to "Back to ministroubiblicos", ministroubiblicos_path %>
</div>
