
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">
              Estudo Ministrado
          </h2>
      </div>
  </div>


<%= render @ministroubiblico %>

  <div class="row">
    <div class="col-lg-2 form-group">
      <%= link_to 'Alterar', edit_ministroubiblico_path(@ministroubiblico), :class => "btn btn-primary colorprimarybtn" %>
    </div>
    <div class="col-lg-2 form-group">
      <%= link_to 'Voltar',  ministroubiblicos_path, :class => "btn btn-primary colorprimarybtn"%>
    </div>
  </div>
</div>